.swiper-parent{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat arm';
    .section-title{
        font-family: 'Montserrat arm' !important;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 32px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.container-sw{
    margin-top: 40px;
}
.swiper-pagination{
    position: relative;
    top: 32px;
    display: flex;
    grid-gap: 15px;
    z-index: 1111 !important;
    span{
        background: #00BF90;
    }
}
.swiper-slide{
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    height: auto;
    color: white;
    border-radius: 12px;
    .swiper-inner-child{
        display: flex;
        flex-direction: column;
        height: 100%;
        .img-head{
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            .img-child{
                display: flex;
                width: 100%;
                justify-content: space-between;
                img{
                    height: 60px;
                }
            }
            .img-typeography{
                display: flex;
                justify-content: space-between;
                width: 100%;
                .img-col-one , .img-col-two{
                    .img-title-bold{
                        // font-weight: bold;
                    }
                    .img-title-normal{
                        margin-top: -15px;
                    }
                }
            }
            .swiper-text{
                p{
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .swiper-stars{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                height: 100%;
                grid-gap: 10px;
                img{
                    height: 15px;
                }
            }
        }
    }
}
@media (max-width:1000px){
    .swiper-slide{
        background: rgba(255, 255, 255, 0.1);
        padding: 15px;
        height: auto;
        color: white;
        .swiper-inner-child{
            display: flex;
            flex-direction: column;
            height: 100%;
            .img-head{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                height: 100%;
                .img-child{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                .img-typeography{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    position: relative !important;
                    left: 5px !important;
                    .img-col-one , .img-col-two{
                        .img-title-bold{
                            font-weight: bold;
                        }
                    }
                    .img-col-two{
                        position: relative !important;
                        left: -10px !important;
                    }
                }
            }
        }
    }
}
@media (max-width:453px){
    .swiper-parent{
        .section-title{
            position: relative !important;
            top: -15px !important;
        }
    }
}
  
@media (max-width:425px){
    .swiper-pagination{
        position: relative !important;
        top: 86px !important;
    }
    
}