footer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px 20px 0px 0px;
  width: 100% !important;
  height: auto;
  padding: 55px;
  position: relative;
  margin-top: 225px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat arm" !important;
}
footer .link-logo {
  width: 100% !important;
  height: 75px !important;
}
footer .footer-bottom-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-bottom {
  margin-top: 40px;
  width: 80%;
}
footer .footer-bottom .machtech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
footer .footer-bottom .machtech p {
  color: white;
  margin-bottom: 0px !important;
}
footer .footer-bottom .machtech a {
  color: white;
}
footer .footer-bottom .machtech img {
  width: 15%;
  height: 65px;
}
footer .footer-bottom hr {
  width: 100%;
  height: 0.5px;
  background: rgba(248, 248, 248, 0.2);
}
footer .footer-bottom .copyright-block {
  width: 100% !important;
}
footer .footer-bottom .copyright {
  color: white;
}
footer .footer-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-child .footer-col-one {
  width: 686px;
}
footer .footer-child .footer-col-one p {
  position: relative;
  top: 15px;
  color: white;
}
footer .footer-child .footer-col-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .footer-child .footer-col-two .connect {
  color: white;
}
footer .footer-child .footer-col-two .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-child .footer-col-two .icons div {
  margin: 14px;
  width: 48px;
  height: 48px;
  background: #00BF90;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (min-width: 1497px) {
  footer .connect {
    margin-left: 5px !important;
    margin-bottom: 15px !important;
  }
  footer .icons div {
    margin: 4px !important;
  }
  footer .footer-child {
    width: 75%;
  }
  footer .footer-child .footer-col-one .footer-logo {
    height: 45px;
  }
  footer .footer-child .footer-col-one p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #EFEFEF;
  }
  footer .footer-bottom {
    width: 75%;
  }
  footer .footer-bottom p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #EFEFEF;
  }
}
@media (max-width: 1024px) {
  .footer-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
@media (max-width: 992px) {
  .footer-bottom-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    width: 100% !important;
  }

  .copyright-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }

  .machtech {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .machtech p {
    position: relative !important;
    left: 18px;
    margin-left: 17px;
  }
}
@media (max-width: 800px) {
  footer .connect {
    margin-top: 25px !important;
  }

  .footer-bottom-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-bottom-child div {
    width: 100% !important;
  }
  .footer-bottom-child div img {
    height: 55px;
    width: 125px !important;
  }
  .footer-bottom-child .machtech {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .footer-child .footer-col-one {
    width: auto !important;
  }
}
@media (max-width: 495px) {
  .footer-col-two {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-col-two .connect {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 80% !important;
  }
  .footer-col-two div {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center !important;
    margin: 5px !important;
  }

  .footer-bottom .footer-bottom-child {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .footer-bottom-child .copyright-block {
    width: 100% !important;
  }
}
@media (max-width: 475px) {
  .footer-col-two {
    margin-top: 55px !important;
  }
}
@media (max-width: 364px) {
  .footer-col-two .icons div {
    width: 30px !important;
    height: 30px !important;
  }
  .footer-col-two .icons div img {
    height: 15px;
  }
}
@media (max-width: 425px) {
  .machtech-link {
    margin-top: 45px !important;
  }

  footer {
    width: 100% !important;
    margin-top: -165px !important;
    padding: 14px !important;
  }

  .red-planet-container {
    position: relative !important;
    top: -325px !important;
  }

  .footer-col-one {
    text-align: center !important;
  }
  .footer-col-one p {
    text-align: justify !important;
    font-size: 13px !important;
  }

  .footer-col-two {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-top: 12px !important;
  }
  .footer-col-two .icons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100% !important;
  }

  .copyright {
    font-size: 9px !important;
  }

  .footer-bottom {
    width: 100% !important;
    margin-top: 5px !important;
  }

  .footer-bottom-child {
    width: 100% !important;
    margin-top: 1px !important;
  }

  .machtech {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .machtech p {
    width: 100% !important;
    font-size: 9px !important;
    left: 0px !important;
    margin-left: 0px !important;
  }
  .machtech img {
    height: 95px !important;
    position: relative !important;
    top: -25px !important;
  }
}
@media (max-width: 376px) {
  .mach {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }

  footer {
    margin-top: -75px !important;
    padding: 14px !important;
  }

  .red-planet-container {
    position: relative !important;
    top: -325px !important;
  }

  .footer-col-one {
    text-align: center !important;
  }
  .footer-col-one p {
    font-size: 13px !important;
  }

  .footer-col-two {
    margin-top: 12px !important;
  }

  .copyright {
    font-size: 9px !important;
  }

  .footer-bottom {
    width: 100% !important;
    margin-top: 5px !important;
  }

  .footer-bottom-child {
    width: 100% !important;
    margin-top: 1px !important;
  }

  .machtech {
    width: 100% !important;
  }
  .machtech p {
    width: 100% !important;
    font-size: 9px !important;
  }
  .machtech p a {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100% !important;
  }
  .machtech img {
    height: 95px !important;
    position: relative !important;
    top: 5px !important;
  }
}