@font-face {
    font-family: 'Montserrat arm';
    src: url('../fonts/montserrat-arm/Montserratarm-Medium.otf');
  }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background: linear-gradient(180deg, #2B267A 0%, #645AC2 100%) !important;
  }
  .anim-button{
    animation: buttons 8s infinite linear;
  }
  @keyframes buttons {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
body{
    background:url('../../assets/images/document/body-background.png') !important;
    background-size: cover !important;
    height: auto;
}
.block{
    transition: 0.5s all !important;
}
.blue-planet{
    animation: rotation 13s infinite linear;
}
.rotate-planet{
    animation: rotation 13s infinite linear;
}
.rotate-people{
    animation: rotationPeople 3s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
}
    to {
        transform: rotate(359deg);
    }
}
@keyframes rotationPeople {
    from {
        position: relative;
    }
    to {
        position: relative;
    }
}
@keyframes star {
    0%{opacity: 1;}
    25%{opacity: 0.5;}
    50%{opacity: 0.1;}
    75%{opacity: 0.5;}
    100%{opacity: 1;}
}
button{
    cursor: pointer !important;
    outline: none !important;
    border: none !important;
}
.star-vector{
    animation: star 3s infinite linear;
}